.aboutArea {
	background: url(../assets/aboutbg.png) no-repeat;
	background-size: cover;
	padding: 6rem 0;
	&__wrapper {
		@include wrapper-style;
	}

	&__heading {
		color: $link-color;
	}

	&__text {
		color: $black;
		opacity: .87;
		line-height: $line-height;
		font-size: 1.8rem;

		padding: 1.6rem 0;
	}
	&__signature {
		padding-top: 5rem;
	}

	&__container {
		@include mq(large) {
			float: left;
			width: 50%;
		}
	}
}